.row {
  display: flex;
  justify-content: space-around;
}

.btn-pink {
  flex: 1 33%;
  background: black;
  border: 1px solid rgb(255, 0, 206);
  color: rgb(255, 0, 206);
}

.btn-pink:hover {
  background: rgb(255, 0, 206);
  color: black
}

.mono {
  font-family: monospace;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse, rgb(0, 0, 0) 30%, rgb(138, 0, 113) 100%);
}

.header-txt {
  font-family: monospace;
  color: aqua;
}

.console {
  color: rgb(255, 0, 206);
  border: 1px solid rgb(255, 0, 206);
  font-family: monospace;
  font-size: x-large;
  padding: 5px;
  overflow-y: scroll;
}

.bold {
  font-weight: bold;
}

.msg {
  color: aqua;
}

.cmd-prelude {
  font-weight: bold;
}

.msg-from-root {
  color: rgb(0, 139, 139);
}
