.row {
  display: flex;
  justify-content: space-around;
}

.btn-pink {
  flex: 1 33%;
  background: black;
  border: 1px solid rgb(255, 0, 206);
  color: rgb(255, 0, 206);
}

.btn-pink:hover {
  background: rgb(255, 0, 206);
  color: black
}

.mono {
  font-family: monospace;
}

.header-txt {
  font-family: monospace;
  color: aqua;
}

.bold {
  font-weight: bold;
}
