.row {
    display: flex;
    justify-content: space-around;
}

.btn-pink {
    flex: 1 33%;
    background: black;
    border: 1px solid rgb(255, 0, 206);
    color: rgb(255, 0, 206);
}

.btn-pink:hover {
    background: rgb(255, 0, 206);
    color: black
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(255, 0, 206,0.1) 100%);
}

.console {
    color: rgb(255, 0, 206);
    border: 1px solid rgb(255, 0, 206);
    font-family: monospace;
    font-size: x-large;
    padding: 5px;
    overflow-y: scroll;
}

.bold {
    font-weight: bold;
}

.cmd-prelude {
    font-weight: bold;
}

.msg-from-root {
    color: rgb(0, 139, 139);
}
